h1 {
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  min-width: 540;
}

.gallery img{
  width: 20%;
  height: 400px;
  object-fit:cover;
  margin: 10px;
  border-radius: 10px;
}


@media (max-width: 1500px) {
  .gallery img {
    width: 30%;
  }
}


@media (max-width: 1000px) {
  .gallery img {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .gallery img {
    width: 90%;
  }
}

